@import 'tailwindcss';

@theme {
  --color-gray-0: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: #eaeaea;
  --color-gray-300: #999999;
  --color-gray-400: #888888;
  --color-gray-500: #666666;
  --color-gray-600: #444444;
  --color-gray-700: #333333;
  --color-gray-800: #222222;
  --color-gray-900: #111111;

  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
