---
const navigationLinks = [
	{ id: 1, title: "Blog", url: "/blog", prefetch: true },
	{
		id: 2,
		title: "LinkedIn",
		url: "https://www.linkedin.com/in/juliusz-kowalewski-657856179/",
		prefetch: false,
	},
	{ id: 3, title: "Contact", url: "mailto:juliusz@kowalewsky.dev", prefetch: false },
];
---

<nav>
	<div
		class="container mx-auto flex flex-wrap items-center justify-between border-b border-b-gray-200 dark:border-b-gray-800"
	>
		<a href="/" class="flex items-center">
			<span
				class="self-center whitespace-nowrap text-2xl font-bold text-gray-900 dark:text-gray-200"
			>
				JK.
			</span>
		</a>
		<div class="block w-auto" id="navbar-default">
			<ul class="flex p-4 mt-0 flex-row space-x-8 border-0 text-sm font-medium">
				{
					navigationLinks.map((link) => (
						<li>
							<a
								href={link.url}
								data-astro-prefetch={link.prefetch ? "" : undefined}
								class="block rounded-sm p-1 text-gray-600 hover:bg-gray-800 dark:text-gray-400 sm:px-3 sm:py-2"
							>
								{link.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</nav>
